.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
}



.auth-container {
    display: flex;
    width: 400px;
    height: 350px;
    justify-content: center;
    align-items: center;
    background-color: #1b3533;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(255, 246, 246, 0.295);
    gap: 5px;
    
}

.auth-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 100%;
    padding: 20px;
}

.auth-button {
    min-width: 50px;
    margin-top: 10px;
    background-color: #3c737a;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}